# IDE and dev tools specific files
.idea
*.iml
.vagrant
node_modules

# Symfony specific
/bin/*
!bin/console
/vendor
/app/cache
/app/logs
/app/bootstrap.php.cache
/var
/app/config/parameters.yml

# Build artifacts
/builds/

